.example-card {
    max-width: 750px;
    background-color: black;
    font-style: normal;
    color: white;
    font-size: 12px;
    
   
  }

  .subTitle {
    font-style: normal;
    color: white;
    font-size: 12px;
  }

  .title {
    color: white;
    font-size: 12.8px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
    
  }